

.slot {
    display: block;
    width: 30px;
    height: 30px;
}

.unchecked {
    background: url(../img/normal.png) no-repeat top;
}

.unchecked:active {
    background-image: url(../img/pressed.png);
}

.mine {
    background: url(../img/mine.png) no-repeat top;
}

.exploded-mine {
    background: url(../img/explosion.png) no-repeat top;
}

.empty {
    background-color: #aaaaaa;
    font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #3f4fe8;
}

table {
    border-collapse: collapse;
}
